.wrapper {
  width: 100%;
  overflow: hidden;
}

.locked {
  height: 100vh;
}

.item {
  color: #f00;
  padding-bottom: 400px;
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.3s ease-in-out 0s,
    transform 0.3s ease-in-out 0.3s;

  &.animated {
    opacity: 1;
    background-color: #00f;
    transform: translateX(0);
  }
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0s;

  &.loaded {
    opacity: 0;
  }
}

.loading {
  width: 100px;
  height: 100px;
}
